<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.rcplayer.plugin"
        version="0.7.0">

    <name>RCPlayer</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/RCPlayer.js" target="js/RCPlayer.js"/>

    <js-module src="www/RCPlayer.js" name="RCPlayer">
        <clobbers target="RCPlayer"/>
    </js-module>

    <platform name="ios">

        <config-file target="config.xml" parent="/widget">
            <feature name="RCPlayer">
                <param name="ios-package" value="RCPlayer"/>
            </feature>
        </config-file>

        <header-file src="src/ios/RCPlayer.h" target-dir="RCPlayerPlugin"/>
        <source-file src="src/ios/RCPlayer.m" target-dir="RCPlayerPlugin"/>
    </platform>

</plugin>
